* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(72, 72, 240);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(72, 72, 240, 0.9);
  color: white;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.table-container {
  overflow-x: auto;
}

.navbar {
  width: 95%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  color: rgb(49, 44, 121);
}

.nav-link:hover {
  color: rgb(45, 31, 238);
}

.text-center {
  text-align: center;
}

.text-danger {
  color: red;
}

.text-highlight {
  color: rgb(72, 72, 240);
}

.text-secondry {
  color: gray;
}

.hero {
  margin: 50px 0;
}

.btn {
  margin-right: 7px;
  padding: 10px 7px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(72, 72, 240);
  color: white;
}

.btn-secondry {
  background-color: lightgray;
  color: rgb(72, 72, 240);
}

.banner-info {
  margin-bottom: 50px;
}

.banner-img img {
  width: 100%;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
}

.form {
  border-radius: 5px;
  padding: 20px;
}

.icon {
  font-size: 28px;
}

.icon-primary {
  color: rgb(72, 72, 240);
}

@media (min-width: 600px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner-info {
    width: 40vw;
  }

  .banner-img img {
    max-width: 50vw;
    max-height: 250px;
  }

  .specialization {
    display: flex;
  }
}
